<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理画面</title>
</head>
<body>
<h1>管理画面</h1>

<h2>ユーザー一覧</h2>
<ul>
    <li th:each="user : ${users}">
        <span th:text="${user.fullName}"></span> - <span th:text="${user.attendance}"></span>
    </li>
</ul>

<a href="/admin/addUser">新規ユーザー作成</a>
<br>
<a href="/admin/logout">ログアウト</a>
</body>
</html>