<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>出勤ボタンページ</title>
    <meta charste="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<!--
<p th:text="|Hello, ${name}!|" />
-->
    <h1>出勤できるように頑張って作ってる出勤ボタンページ</h1>
    <h2>株式会社 ヒューマンアカデミー</h2>
    <p th:text="'こんにちは, ' + ${id} + 'さん!'"></p>
    <p>状態：??</p>
    <form method="post" action="/attendanceInput">
    <button type="button" class="start" name="start" value="value">　出勤　</button>
    </form>
    <button type="button" class="end" name="end" value="value">　退勤　</button>
    <p>
    <button type="button" name="breakstart" value="value">休憩開始</button>
    <button type="button" name="breakend" value="value">休憩終了</button>
    <p>
    <ul>
        <li><a href="jokyoList">打刻履歴</a></li>
        <li><a href="place">勤務場所登録</a></li>
        <li><a href="contactAddress">連絡先登録</a></li>
        <li><a href="history">勤怠状況一覧表示</a></li>
        <li><a href="login">ログアウト</a></li>
    </ul>
</body>
</html>