<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>勤怠履歴</title>
    <meta charste="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
        <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<h1>連絡先登録</h1>
<h4>連絡先登録したほうが良いらしいですよ！</h4>
<p>電話番号　　　
    <input type="text" id="tel"></p>
<p>メールアドレス
    <input type="text" id="mail"></p>
<p>備考　　　　　
    <input type="text" id="memo"></p>
<p>
    <a href="attendanceList">戻ろう</a>
</body>
</html>