<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>勤怠履歴</title>
    <meta charste="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
        <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<h1>勤怠履歴一覧</h1>
<table border="1">
    <tr><th>日付</th><th>開始</th><th>終了</th><th>休憩開始</th><th>休憩終了</th></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
    <tr><td>10/04</td><td>9:00</td><td>18:00</td><td>12:00</td><td>13:00</td></tr>
</table>
<a href="attendanceList">戻ろう</a>
</body>
</html>