<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>出勤ボタンページ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<div style="text-align: center">
    <h1>打刻履歴</h1>
    <h1>
        <div id="current_date"></div>
        <script>
            function updateCurrentDateTime() {
                const currentDateElement = document.getElementById("current_date");
                const now = new Date();
                const year = now.getFullYear();
                const month = (now.getMonth() + 1).toString().padStart(2, '0');
                const day = now.getDate().toString().padStart(2, '0');
                const hour = now.getHours().toString().padStart(2, '0');
                const minute = now.getMinutes().toString().padStart(2, '0');
                const second = now.getSeconds().toString().padStart(2, '0');
                currentDateElement.innerHTML = `${year}/${month}/${day} ${hour}:${minute}:${second}`;
            }

            setInterval(updateCurrentDateTime, 1000);

            updateCurrentDateTime();
        </script>
    </h1>
</div>

<table align="center" width="70%" border="1" cellspacing="0">
    <tr>
        <th>氏名</th>
        <th>日付</th>
        <th>出勤</th>
        <th>退勤</th>
        <th>休憩開始</th>
        <th>休憩終了</th>
        <th>合計労働時間</th>
    </tr>
    <th:block th:each="attendance : ${attendances}">
        <tr th:if="${attendance.id == desiredId}">
            <td th:text="${attendance.id}"></td>
            <td th:text="${attendance.date}"></td>
            <td th:text="${attendance.start}"></td>
            <td th:text="${attendance.end}"></td>
            <td th:text="${attendance.break_start}"></td>
            <td th:text="${attendance.break_end}"></td>
            <td th:text="${totalTime(attendance.start, attendance.end, attendance.break_start, attendance.break_end)}"></td>
        </tr>
    </th:block>
</table>
<a href="attendanceList">戻ろう</a>
<script>
    var desiredId = /* ログインしたユーザーのID(セッション内から選択されたユーザー） */;
    function totalTime(start, end, breakStart, breakEnd) {
        if (!end) {
            return 0;
        }
        const start = new Date(`1970-01-01 ${start}`);
        const end = new Date(`1970-01-01 ${end}`);
        const breakStart = new Date(`1970-01-01 ${breakStart}`);
        const breakEnd = new Date(`1970-01-01 ${breakEnd}`);

        const workMinutes = (end - start) / (1000 * 60);
        const breakMinutes = (breakEnd - breakStart) / (1000 * 60);

        let totalMinutes = workMinutes - breakMinutes;
        totalMinutes = Math.max(totalMinutes, 0);
        return totalMinutes;
    }
</script>
</body>
</html>