<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>出勤ボタンページ</title>
    <mata charste="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
        <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<h1>勤怠状況一覧</h1>
<table border="1">
    <tr><th>氏名</th><th>開始</th><th>終了</th><th>ステータス</th><th>勤務場所</th></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>
    <tr><td>ななしのごんべえ</td><td>9:00</td><td>18:00</td><td>退勤済み</td><td>自宅</td></tr>

</table>
<a href="attendanceList">戻ろう</a>
</body>
</html>