<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/style.css" type="text/css">
<head>
    <title>ログイン｜Time Manager</title>
    <mata charste="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    </mata>
</head>

<body>
<div style="text-align: center">
    <h1>勤怠管理「Time Manager」</h1>
</div>
    <form class="form-signin" method="post" th:action="@{/login}">
        <div style="text-align: center;" class="alert alert-dismissible alert-danger" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div style="text-align: center;">
            <h2 class="form-signin-heading">ログイン</h2>
            <br><br>
            <h4>Time Managerへようこそ!</h4>
        </div>
        <br>
        <div style="text-align: center;">
            <label for="username" class="sr-only">ユーザーネーム</label><br>
            <input type="text" id="username" name="username" class="form-control" placeholder="ユーザーネーム"/><br><br>
            <label for="password" class="sr-only">パスワード</label><br>
            <input type="password" id="password" name="password" class="form-control" placeholder="パスワード"/><br><br>
            <button class="login" type="submit">ログイン</button>
        </div>
        <div style="text-align: center;">
            <br>
            <a href="user" class="click">新規登録</a>
            <br><br><br><br>
            <p>Time Manager<br>Created by HA神戸三宮校<br>Team:Squad Core5</p>
        </div>
    </form>
</body>
</html>