<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>勤務場所登録</title>
    <meta charste="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
        <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
<h1>勤務場所登録</h1>
<h4>本日の勤務場所は？</h4>
<select name="place">
    <option>自宅</option>
    <option>神戸校</option>
    <option>大阪校</option>
    <option>その他</option>
</select>
<p>
    <a href="attendanceList">戻る</a>
</body>
</html>